.mainAbout {
	width: 50%;
	height: 50%;
	margin: auto;
	background-color: white;
	overflow: hidden;
	position: relative;
	top: 25vh;
}

.mainImage {
	width: 50%;
	height: 50%;
	margin: auto;
	display: inline;
}

.mainBio {
	display: inline;
}