.image-div {
  display: inline-block;
  height: 15vh;
  background-color: blue;
  float: left;
  width: 5%;
}

.header-div {
	background-image: url('croppedlogo.jpg');
	background-size: auto;
	border-bottom-style: outset;
	border-bottom-color: #540404;
	border-bottom-width: 5px;
}

.header {
	display: inline-block;
	width: 95%;
}
.header-txt {
	color: white;
	font-family: 'Spectral SC', serif;
	margin: 0px;
	padding-left: 2%;
	display: inline-block;
}

h1 {
	font-size: 48px;
}

p {

	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 24px;
}

img {
	width: 100%;
	height: 100%;
	float: left;
}


